<div class="card me-3 mb-3 card-s1 p-2">
  <div class="position-relative">
    <img src="./assets/img/property/example-aparments.jpg"
      alt="Portada la etapa" class="rounded-2 overflow-hidden title-image w-100" />
    <span class="stage-badge position-absolute top-0 mt-2">
      Etapa&nbsp;{{stage?.stage}}
    </span>
  </div>
  <div class="card-body px-0 pb-1 pt-2">
    <h5 class="card-title io-green-primary lh-1">{{stage!.name}}</h5>
    <p class="card-text"><img src="./assets/svg/location.svg" alt="Direccion de la etapa">
      <span class="card-location"> {{stage!.address}}</span>
    </p>
  </div>
  <div class="card-body px-0 py-2">
    <div class="d-flex flex-wrap align-items-center">
      @if (isShowNumberApartments) {
        <span class="me-2 py-2">
          <strong class="io-green-primary">
            <svg width="27" height="27" fill="none" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/assets/svg/aparment24.svg#svg_aparment"></use>
            </svg>
          </strong> {{stage?.numberApartments}}
        </span>
      }
      @if (isShowNumberLands) {
        <span class="me-2 py-2">
          <strong class="io-green-primary">
            <svg width="27" height="27" fill="none" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="/assets/svg/land24.svg#svg_land"></use>
            </svg>
          </strong> {{stage?.numberLands}}
        </span>
      }
      @if (isShowNumberHouse) {
        <span class="me-2 py-2">
            <strong class="io-green-primary">
              <svg width="27" height="27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="/assets/svg/house24.svg#svg_house"></use>
              </svg>
            </strong> {{stage?.numberHouses}}
        </span>
      }

      <span class="d-inline-flex align-items-center me-2 py-1"><strong class="material-symbols-rounded io-green-primary">team_dashboard</strong> {{stage!.typesProperty}}</span>
      <span><img src="./assets/svg/project-area.svg" alt="Área de la etapa proyecto"> {{stage!.areaTotal}}m2</span>
    </div>
  </div>
  <div class="card-body px-0 py-2">
    @if (isShowEditStage) {
      <button type="button" class="btn w-100 btn-s4 button-tp mb-2" (click)="edit()">
        Editar etapa
      </button>
    }
    @if (isShowDeleteStage) {
      <button type="button" class="btn w-100 btn-s4 button-tp mb-2">
        Eliminar etapa
      </button>
    }
    @if (isShowPublishStage) {
      <button type="button" class="btn w-100 btn-s4 button-tp mb-2">
        Publicar etapa
      </button>
    }
    <button type="button" class="btn w-100 btn-s3 button-tp mb2-2">
      Ver Etapa
    </button>
  </div>
</div>


