<div class="row justify-content-center">
  <div class="col-xl-8 col-lg-10 col-md-11 col-sm-12">
    <form  [formGroup]="form" (ngSubmit)="save()" >
      <app-location-information [form]="form" [projectStageCurrent]="projectStageCurrent" [isView]="isView"/>
      @if (!isView) {
        <app-button-loading
          type="submit"
          [btnClasses]="'btn d-block mx-auto mt-4 mb-2 btn-width300 h37  btn-s4 button-tp br5'"
          [loading]="loading"
          msgLoading="Cargando..."
          msgButton="Guardar"/>
      }
    </form>
  </div>
</div>

