<button class="sidebar-menu-button" (click)="toggleSidebar()">
  <span class="material-symbols-rounded">menu</span>
</button>

<aside class="sidebar" [class.collapsed]="sidebarCollapsed">
  <header class="sidebar-header">
    <a href="#" class="header-logo">
      <img src="./assets/img/invierteio.jpg" alt="InvierteIO" />
    </a>
    <button class="sidebar-toggler" (click)="toggleSidebar()">
      <span class="material-symbols-rounded">keyboard_double_arrow_left</span>
    </button>
  </header>

  <nav class="sidebar-nav">
    <ul class="nav-list primary-nav px-0">
      <li *ngFor="let menu of menus"
        class="nav-item"
        [class.dropdown-container]="menu.submenus"
        [class.open]="isOpen(menu.id)">

        @if (menu.submenus) {
          <a href="#" class="nav-link dropdown-toggle-custom"
             [class.active]="isMenuActive(menu)"
             (click)="onDropdownClick($event, menu.id)"
          >
            @if (menu.icon_google) {
              <span class="material-symbols-rounded">{{ menu.icon_google }}</span>
            } @else {
              <svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use [attr.xlink:href]="'/assets/svg/' + menu.icon_svg + '#svg_' + menu.id"></use>
              </svg>
            }

            <span class="nav-label">{{ menu.title }}</span>
            <span class="dropdown-icon material-symbols-rounded">keyboard_arrow_down</span>
          </a>

          <ul class="dropdown-menu-custom" appCollapse [isOpen]="isOpen(menu.id)">
            <li class="nav-item">
              <a class="nav-link dropdown-title">{{ menu.title }}</a>
            </li>
            <li *ngFor="let sub of menu.submenus" class="nav-item" routerLinkActive="active">
              <a [routerLink]="sub.url" class="nav-link dropdown-link">{{ sub.title }}</a>
            </li>
          </ul>
        } @else {
          <a
            [routerLink]="menu.url"
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            @if (menu.icon_google) {
              <span class="material-symbols-rounded">{{ menu.icon_google }}</span>
            } @else {
              <svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use [attr.xlink:href]="'/assets/svg/' + menu.icon_svg + '#svg_' + menu.id"></use>
              </svg>
            }

            <span class="nav-label">{{ menu.title }}</span>
          </a>

          <ul class="dropdown-menu-custom">
            <li class="nav-item">
              <a class="nav-link dropdown-title">{{ menu.title }}</a>
            </li>
          </ul>
        }
      </li>
    </ul>

    <ul class="nav-list secondary-nav px-0 d-none d-md-block">
      <li class="nav-item">
        <a href="#" class="nav-link">
          <span class="material-symbols-rounded">person_edit</span>
          <span class="nav-label">{{ getName() }}</span>
        </a>
        <ul class="dropdown-menu-custom">
          <li class="nav-item"><a class="nav-link dropdown-title">{{ getName() }}</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link"  (click)="logout()">
          <span class="material-symbols-rounded">logout</span>
          <span class="nav-label">Cerrar sesión</span>
        </a>
        
        <ul class="dropdown-menu-custom">
          <li class="nav-item">
            <a class="nav-link dropdown-title">Cerrar sesión</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
