<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb title-tp-h1 mt-4 mb-3 d-flex align-items-center">
      <li class="breadcrumb-item d-flex align-items-center">
        <span class="rounded-circle  p-1 arrow-back material-symbols-rounded me-2" (click)="toProjectInfo()">arrow_back</span>
        <a class="breadcrumb-link" (click)="toProjects()">Mis proyectos</a>
      </li>
      <li class="breadcrumb-item io-green-primary">
          <a class="breadcrumb-link" (click)="toProjectInfo()">{{project?.name}}</a>
      </li>
        <li class="breadcrumb-item io-green-primary active" aria-current="page">
            <span class="fw-light">Etapa {{projectStage?.stage}}</span>
        </li>
    </ol>
  </nav>
  <div class="card p-0 border-0 rounded-0 ">

    <div class="card-header tab-s3 disable-active-nav py-2 border-0 rounded-0">
        <ul ngbNav #nav="ngbNav" class="nav nav-underline m-1" [destroyOnHide]="false" [activeId]="activeId">
            <li [ngbNavItem]="'detail'">
                <button ngbNavLink id="detail-tab" class="nav-link">Detalle</button>
                <ng-template ngbNavContent>
                    <app-project-stage-details [projectStage]="projectStage" [isView]="isViewPage"/>
                </ng-template>
            </li>
            <li [ngbNavItem]="'blueprints'">
                <button ngbNavLink id="blueprints-tab" class="nav-link">Planos generales / Otros</button>
                <ng-template ngbNavContent>
                    <div class="d-flex flex-wrap justify-content-center mt-2">
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="'legalsdocuments'">
                <button ngbNavLink id="legalsdocuments-tab" class="nav-link">Documentos legales</button>
                <ng-template ngbNavContent>

                </ng-template>
            </li>
            <li [ngbNavItem]="'propertytypes'">
                <button ngbNavLink id="propertypes-tab" class="nav-link">Tipos de inmuebles</button>
                <ng-template ngbNavContent>
                    <app-stage-property-type [project]="project" [projectStage]="projectStage" [isView]="isViewPage" />
                </ng-template>
            </li>
            <li [ngbNavItem]="'clients'">
                <button ngbNavLink id="clients-tab" class="nav-link">Clientes</button>
                <ng-template ngbNavContent>
                </ng-template>
            </li>
        </ul>
    </div>
      <div class="card-body p-2 pb-3 px-3">
          <div [ngbNavOutlet]="nav" class="tab-content"></div>
      </div>
  </div>
</div>


