<div class="row justify-content-center my-3">
  <div class="col-xl-8 col-lg-10 col-md-11 col-sm-12">
    <h2 class="subtitle-tp-h2 io-green-primary">Datos principales del inmueble</h2>
    <div class="d-flex align-items-center justify-content-end py-1">
      <a class="btn btn-s3 button-tp py-2 d-flex justify-content-center align-items-center"
         href="./assets/excel/TemplateFormat_InvierteIO.xlsx" download>
        <span class="material-symbols-rounded">download</span>
        Descargar plantilla
      </a>
    </div>

    <h2 class="subtitle-tp-h2 io-green-primary">Tipo de inmueble</h2>

    <div class="d-flex align-items-center justify-content-end pb-3 pt-1 ">
      <button type="button" class="btn btn-s1 button-tp py-2 br5 d-flex justify-content-center align-items-center"
              (click)="toGoGeneralPropertyType()">
        <span class="material-symbols-rounded me-1" >jump_to_element</span>
        Ir a General
      </button>
    </div>

    <div class="table-responsive">
      <table class="table table-s2 m-0">
        <thead>
        <tr>
          <th class="text-center">Tipo Inmueble</th>
          <th class="">Plano arquitectonico</th>
          <th class="">Plantilla formato</th>
          <th class="text-center">Inmuebles</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let stagePropertyGroup of this.stagesPropertyTypes" >
          <td class="align-middle text-center">{{stagePropertyGroup.propertyGroup?.name}}</td>
          <td class="align-middle">
            @if(stagePropertyGroup.architecturalBluetprint) {
              @if (!isView) {
                <button type="button" class="btn p-0 border-0 bg-transparent mx-2 io-yellow-primary" title="Eliminar archivo de plano de arquitectura"
                        (click)="deleteFile($event, stagePropertyGroup, 'blueprint')">
                  <span class="material-symbols-rounded">delete</span>
                </button>
              }
              <button type="button" class="btn p-0 border-0 bg-transparent mx-2 io-yellow-primary" title="descargar archivo de plano de arquitectura"
                      (click)="downloadFile(stagePropertyGroup.architecturalBluetprint)">
                <span class="material-symbols-rounded">download_2</span>
              </button>
              <button type="button" class="btn p-0 border-0 bg-transparent mx-2 io-yellow-primary" title="abrir archivo de plano de arquitectura"
                      (click)="viewDocument(stagePropertyGroup.architecturalBluetprint)">
                <span class="material-symbols-rounded">file_open</span>
              </button>
              {{stagePropertyGroup.architecturalBluetprint.name}}
            } @else if(!isView){
              <app-file-dropzone
                text="Arratra archivos PDF o imágenes (JPG, PNG)"
                accept=".pdf,image/png,image/jpeg"
                (dropFile)="onDropFile($event, stagePropertyGroup, 'blueprint')"
                (fileSelected)="onFileSelected($event, stagePropertyGroup, 'blueprint')">
              </app-file-dropzone>
            }
          </td>
          <td class="align-middle">
            @if(stagePropertyGroup.formatTemplateLoaded) {
              @if (!isView) {
                <button type="button" class="btn p-0 border-0 bg-transparent mx-2 io-yellow-primary" title="Eliminar archivo de plantilla precargada"
                        (click)="deleteFile($event, stagePropertyGroup, 'template')">
                  <span class="material-symbols-rounded">delete</span>
                </button>
              }
              <button type="button" class="btn p-0 border-0 bg-transparent mx-2 io-yellow-primary" title="descargar archivo de plantilla precargada"
                      (click)="downloadFile(stagePropertyGroup.formatTemplateLoaded)">
                <span class="material-symbols-rounded">download_2</span>
              </button>
              {{stagePropertyGroup.formatTemplateLoaded.name}}
            } @else if(!isView){
              <app-file-dropzone
                text="Arratra archivo excel con información válida"
                accept=".xls,.xlsx"
                (dropFile)="onDropFile($event, stagePropertyGroup, 'template')"
                (fileSelected)="onFileSelected($event, stagePropertyGroup, 'template')">
              </app-file-dropzone>
            }
          </td>
          <td class="align-middle">
            <div class="d-flex justify-content-center">
              @if(stagePropertyGroup.formatTemplateLoaded) {
                <button type="button"
                        class="btn p-0 border-0 bg-transparent mx-2 io-yellow-primary" title="Inmuebles"
                        (click)="toGoProperties(stagePropertyGroup)">
                  <span class="material-symbols-rounded">other_houses</span>
                </button>
              }
            </div>
          </td>
        </tr>

        <tr *ngIf="isShowTableEmpty">
          <td colspan="4" class="text-center">No hay registros</td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
