<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb title-tp-h1 mt-4 mb-3 d-flex align-items-center">
      <li class="breadcrumb-item d-flex align-items-center">
        <span class="rounded-circle  p-1 arrow-back material-symbols-rounded me-2" (click)="back()">arrow_back</span>
        <a class="breadcrumb-link" (click)="back()">Crear Proyecto</a>
      </li>
      <li class="breadcrumb-item io-green-primary active" aria-current="page">
        <span class="fw-light">Agregar tipo de inmueble</span>
      </li>
    </ol>
  </nav>

  <div class="card p-0 border-0 rounded-0">
    <div class="card-body px-3 my-4">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10 col-md-11 col-sm-12">
          <form  [formGroup]="form" (ngSubmit)="save()" >
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-sm-12 mb-3">
                <label for="stage" class="form-label text-tp-h3">Etapa del proyecto</label>
                <ng-select
                  id="stage"
                  [items]="stages"
                  [multiple]="true"
                  [searchable]="true"
                  placeholder="Selecciona"
                  formControlName="stages"
                  notFoundText="No encontrado">
                </ng-select>
                <div *ngIf="form.get('stages') | isInvalidField" class="d-flex flex-column">
                  <small *ngFor="let msg of form.get('stages') | formErrorMessages:'Etapa del proyecto'"
                         class="text-danger font-italic">{{ msg }}</small>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-sm-12 mb-3">
                <label for="category" class="form-label text-tp-h3">Categoría del inmueble</label>
                <div class="custom-select-wrapper" >
                  <select
                    class="input-s4 form-select form-control custom-select-arrow" id="category"
                    formControlName="category" appSelectStyle>
                    <option value="" disabled hidden>Seleccionar </option>
                    <option value="{{PROPERTY_CATEGORY.APARTMENT}}">Departamento</option>
                    <option value="{{PROPERTY_CATEGORY.HOUSE}}">Casa</option>
                    <option value="{{PROPERTY_CATEGORY.LAND}}">Terreno</option>
                  </select>
                  <span class="material-symbols-rounded custom-arrow-icon">keyboard_arrow_down</span>
                </div>
                <div *ngIf="form.get('category') | isInvalidField" class="d-flex flex-column">
                  <small *ngFor="let msg of form.get('category') | formErrorMessages:'Categoria del inmueble'"
                         class="text-danger font-italic">{{ msg }}</small>
                </div>
              </div>
            </div>

            <h2 class="mb-4 mt-2 subtitle-tp-h2 io-green-primary">Datos generales del inmueble</h2>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-sm-12 mb-3">
                <label for="name" class="form-label text-tp-h3">Nombre del tipo</label>
                <input type="text" class="form-control input-s4" id="name" formControlName="name"
                       placeholder="Ingrese nombre" [maxLength]="100"/>
                <div *ngIf="form.get('name') | isInvalidField" class="d-flex flex-column">
                  <small *ngFor="let msg of form.get('name') | formErrorMessages:'Nombre '"
                         class="text-danger font-italic">{{ msg }}</small>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-sm-12 mb-3">
                <label for="perimeter" class="form-label text-tp-h3">Perimetro (m)</label>
                <input type="number"
                       class="form-control input-s4"
                       id="perimeter" formControlName="perimeter"
                       placeholder="Ingrese perímetro (m)" [maxLength]="13" [min]="0"/>
                <div *ngIf="form.get('perimeter') | isInvalidField" class="d-flex flex-column">
                  <small *ngFor="let msg of form.get('perimeter') | formErrorMessages:'Perímetro'"
                         class="text-danger font-italic">{{ msg }}</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-sm-12 mb-3">
                <label for="area" class="form-label text-tp-h3">Área (m&#178;)</label>
                <input type="number"
                       class="form-control input-s4"
                       id="area" formControlName="area"
                       placeholder="Ingrese area (m²)" [maxLength]="13" [min]="0"/>
                <div *ngIf="form.get('area') | isInvalidField" class="d-flex flex-column">
                  <small *ngFor="let msg of form.get('area') | formErrorMessages:'área'"
                         class="text-danger font-italic">{{ msg }}</small>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-sm-12 mb-3">
                <label for="parking_space" class="form-label text-tp-h3">¿Plaza de parking?</label>
                <div class="custom-select-wrapper" >
                  <select
                    class="input-s4 form-select form-control custom-select-arrow" id="parking_space"
                    formControlName="parking_space" appSelectStyle>
                    <option value="" disabled hidden>Responda </option>
                    <option value="SI">Si</option>
                    <option value="NO">No</option>
                  </select>
                  <span class="material-symbols-rounded custom-arrow-icon">keyboard_arrow_down</span>
                </div>
                <div *ngIf="form.get('parking_space') | isInvalidField" class="d-flex flex-column">
                  <small *ngFor="let msg of form.get('parking_space') | formErrorMessages:'plaza de parking'"
                         class="text-danger font-italic">{{ msg }}</small>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-sm-12 mb-3">
                <label for="front_park" class="form-label text-tp-h3">¿Frente a parque?</label>
                <div class="custom-select-wrapper" >
                  <select
                    class="input-s4 form-select form-control custom-select-arrow" id="front_park"
                    formControlName="front_park" appSelectStyle>
                    <option value="" disabled hidden>Responda </option>
                    <option value="SI">Si</option>
                    <option value="NO">No</option>
                  </select>
                  <span class="material-symbols-rounded custom-arrow-icon">keyboard_arrow_down</span>
                </div>
                <div *ngIf="form.get('front_park') | isInvalidField" class="d-flex flex-column">
                  <small *ngFor="let msg of form.get('front_park') | formErrorMessages:'frente a parque'"
                         class="text-danger font-italic">{{ msg }}</small>
                </div>
              </div>

            </div>

            @switch (form.get("category")?.value) {
              @case (PROPERTY_CATEGORY.LAND) {
                <app-land-property-features [formGroup]="landFormGroup" [landFeatures]="landFeatures" />
              }
              @case (PROPERTY_CATEGORY.APARTMENT) {
                <app-apartment-property-features [formGroup]="apartmentFormGroup" [apartmentFeatures]="apartmentFeatures" />
              }
              @case (PROPERTY_CATEGORY.HOUSE) {
                <app-house-property-features [formGroup]="houseFormGroup" [houseFeatures]="houseFeatures" />
              }
            }

            <h2 class="mb-4 mt-2 subtitle-tp-h2 io-green-primary">Características económicas</h2>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-sm-12 mb-3">
                <label for="currency" class="form-label text-tp-h3">Tipo de moneda</label>
                <div class="custom-select-wrapper">
                  <select
                    class="input-s4 form-select form-control custom-select-arrow" id="currency"
                    formControlName="currency" appSelectStyle>
                    <option value="" disabled hidden>Seleccionar </option>
                    <option value="PEN">Soles</option>
                    <option value="USD">Dólares</option>
                  </select>
                  <span class="material-symbols-rounded custom-arrow-icon">keyboard_arrow_down</span>
                </div>
                <div *ngIf="form.get('currency') | isInvalidField" class="d-flex flex-column">
                  <small *ngFor="let msg of form.get('currency') | formErrorMessages:'tipo de moneda'"
                         class="text-danger font-italic">{{ msg }}</small>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-sm-12 mb-3">
                <label for="price" class="form-label text-tp-h3">$ Valor</label>
                <input type="text" class="form-control input-s4" id="price" formControlName="price"
                       placeholder="Ingrese valor" [maxLength]="100"/>
                <div *ngIf="form.get('price') | isInvalidField" class="d-flex flex-column">
                  <small *ngFor="let msg of form.get('price') | formErrorMessages:'$ Valor '"
                         class="text-danger font-italic">{{ msg }}</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-sm-12 mb-3">
                <label for="percentage_rate" class="form-label text-tp-h3">% Interes anual</label>
                <input type="text" class="form-control input-s4" id="percentage_rate" formControlName="percentage_rate"
                       placeholder="Ingrese el % interes" [maxLength]="100"/>
                <div *ngIf="form.get('percentage_rate') | isInvalidField" class="d-flex flex-column">
                  <small *ngFor="let msg of form.get('percentage_rate') | formErrorMessages:'porcentaje de interes '"
                         class="text-danger font-italic">{{ msg }}</small>
                </div>
              </div>
            </div>
            <app-button-loading
              type="submit"
              [btnClasses]="'btn d-block mx-auto mt-3 btn-width300 h37 btn-s4 button-tp br5'"
              [loading]="loading"
              msgLoading="Cargando..."
              msgButton="Agregar inmueble"/>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
