<h2 class="mb-3 mt-4 subtitle-tp-h2 io-green-primary">Publicidad / Multimedia</h2>
<span class="fw-bold  mt-2 mb-1 d-block">Registro fotográfico</span>
<div class="row">
  <div class="col-12 mt-3">
    <label for="multimedia_description" class="form-label text-tp-h3">Descripción</label>
    <input type="text" class="form-control input-s4" id="multimedia_description"
           placeholder="Ingresa descripciòn" [maxLength]="200"
           [(ngModel)]="multimediaDescription"
           (ngModelChange)="onMultimediaDescriptionChange($event)"
           [ngModelOptions]="{standalone: true}" />
    <div *ngIf="multimediaDescriptionError"  class="text-danger font-italic">
      <small>Debe tener hasta 200 carácteres</small>
    </div>
  </div>
  <div class="col-12 mb-3 mt-2">
    <span class="fs-s1">Sube imagen, proyeccion, 3D o VIDEO</span>
    <app-file-dropzone class="mt-2"
                       dropzoneClass="dz-s1"
                       text="Arrastra archivos imágenes (JPG, PNG)"
                       accept="image/png,image/jpeg"
                       (dropFile)="onDropFile($event, 'photographic_record')"
                       (fileSelected)="onFileSelected($event, 'photographic_record')" />
  </div>
  <div class="col-12"  *ngIf="photographicRecords.length>0">
    <table class="table table-s3 mb-1">
      <tbody>
      <tr *ngFor="let file of photographicRecords" >
        <td  class="px-2 ms-1  d-flex justify-content-start align-items-center">
          <span class="material-symbols-rounded">{{file!.filename | typeFileIconGoogleFonts}}</span>
        </td>
        <td class="">{{file.name}}</td>
        <td class="">{{file.createdAt | date:'dd/MM/yyyy'}}</td>
        <td  class="text-center">
          <button type="button" class="btn p-0 border-0 bg-transparent mx-2" title="Ver"
                  (click)="viewDocument(file, 'photographic_record')">
            <img src="./assets/svg/view15.svg" alt="ver">
          </button>
          <button type="button" class="btn p-0 border-0 bg-transparent mx-2" title="Eliminar"
                  (click)="deletePhotographicRecord(file)">
            <img src="./assets/svg/delete16.svg" alt="eliminar">
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="row">
  <div class="col-12 mb-3">
    <span class="fw-bold  mt-2 mb-1 d-block">Brochure</span>
    <span class="fs-s1">Sube documento en pdf o imagen</span>
    <app-file-dropzone class="mt-2"
                       dropzoneClass="dz-s1"
                       text="Arrastra archivos PDF o imágenes (JPG, PNG)"
                       accept=".pdf,image/png,image/jpeg"
                       (dropFile)="onDropFile($event, 'brochure')"
                       (fileSelected)="onFileSelected($event, 'brochure')" />
  </div>
  <div class="col-12" *ngIf="brochures.length>0">
    <table class="table table-s3 mb-1">
      <tbody>
      <tr *ngFor="let file of brochures" >
        <td  class="px-2 ms-1  d-flex justify-content-start align-items-center">
          <span class="material-symbols-rounded">{{file!.filename | typeFileIconGoogleFonts}}</span>
        </td>
        <td class="">{{file.name}}</td>
        <td class="">{{file.createdAt | date:'dd/MM/yyyy'}}</td>
        <td  class="text-center">
          <button type="button" class="btn p-0 border-0 bg-transparent mx-2" title="Ver" (click)="viewDocument(file, 'brochure')">
            <img src="./assets/svg/view15.svg" alt="ver" >
          </button>
          <button type="button" class="btn p-0 border-0 bg-transparent mx-2" title="Eliminar"
                  (click)="deleteBrochure(file)">
            <img src="./assets/svg/delete16.svg" alt="eliminar">
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

