<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb title-tp-h1 mt-4 mb-3 d-flex align-items-center">
      <li class="breadcrumb-item d-flex align-items-center">
        <span class="rounded-circle  p-1 arrow-back material-symbols-rounded me-2" (click)="toGoSection1()">arrow_back</span>
        <a class="breadcrumb-link" (click)="toGoSection1()">Crear Proyecto</a>
      </li>
      <li class="breadcrumb-item io-green-primary active" aria-current="page">
        <span class="fw-light">Seccion 2</span>
      </li>
    </ol>
  </nav>

  <div class="card p-0 border-0 rounded-0">
    <div class="card-body px-3 my-4">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10 col-md-11 col-sm-12">
          <form  [formGroup]="form" (ngSubmit)="next()" >
            <app-additional-information [form]="form"
                                        [financialsBonus]="financialsBonus" [banks]="banks"  />

            <app-project-property-types [project]="project"/>

            <app-button-loading
              type="submit"
              [btnClasses]="'btn d-block mx-auto mt-5 btn-width300 h37  btn-s4 button-tp br5'"
              [loading]="loading"
              msgLoading="Cargando..."
              msgButton="Siguiente"/>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>

