<div class="container-fluid p-0" >
  <div class="row g-0 h-100">
    <div
      class="col-12 col-md-6 d-flex align-items-center justify-content-center p-0 section-welcome">
      <div
        class="text-white text-center bg-black bg-opacity-50 h-100 w-100 d-flex flex-column align-items-center justify-content-center">
        <img
          src="assets/img/invierteio.jpg"
          alt="Logo"
          class="rounded-circle my-3 logo"/>
        <h1 class="mb-3 d-none d-md-block">Bienvenido</h1>
        <p class="lead d-none d-md-block">{{ subtitleWelcome }}</p>
      </div>
    </div>

    <div class="col-12 col-md-6 d-flex align-items-center justify-content-center bg-white min-vh-100">
      <div
        class="w-75 my-3 mx-1 box-auth">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
