/* styles.css o auth.component.css */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/*****************Inputs/Texts********************/
.input-tp-sub-h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  vertical-align: middle;
  color: #3E4347;
}

.input-tp-h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  vertical-align: middle;
}

.title-tp-h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  vertical-align: middle;
  color: #3E4347;
}

.title-tp-h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: #066B4B;
}

.subtitle-tp-h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
  color: #4B4B4B;
}

.text-tp-h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
}

input {
  background: #FCFCFC !important;
  border-color: #D8D8D8 !important;
  height: 48px !important;
  border-radius: 15px !important;
  border-width: 1px !important;
}

input::placeholder {
  color: #A0A0A0 !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 200% !important;
  letter-spacing: 0 !important;
  vertical-align: middle !important;
}

.form-control:focus {
  border-color: #D8D8D8 !important;
  box-shadow: 0 0 0 0.2rem rgba(6, 107, 75, 0.10) !important;
}

/*****************Buttons********************/
.button-tp {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  vertical-align: middle;
  color: #fff;
}

.btn-s1 {
  min-height: 48px;
  border-radius: 15px;
  background-color: #066B4B;
  border-color: #066B4B;
}

.btn-s1:hover,
.btn-s1:focus,
.btn-s1:active {
  background-color: #066B4B !important;
  border-color: #066B4B !important;
  color: #D8D8D8 !important;
}

.btn-s1:disabled {
  background-color: rgba(6, 107, 75, 0.90) !important;
  border: 1px solid #D8D8D8;
  color: #D8D8D8 !important;
}

.btn-s2 {
  min-height: 48px;
  border-radius: 15px;
  background: #F9B234;
  border: none;
}
.btn-s2:hover,
.btn-s2:focus,
.btn-s2:active  {
  background-color: #F9B234 !important;
  border-color: #F9B234 !important;
  color: #D8D8D8 !important;
}

.btn-s2:disabled {
  background-color: rgba(249, 178, 52, 0.90) !important;
  border: 1px solid #D8D8D8;
  color: #D8D8D8 !important;
}

/*****************Others********************/


