@import 'assets/styles/custom-checkbox.css';
@import 'assets/styles/custom-radiobutton.scss';
@import 'assets/styles/custom-select.css';
@import 'assets/styles/custom-tables.css';

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.io-green-primary {
  color: #066B4B !important;
}

.io-yellow-primary {
  color: #F9B234 !important;
}

.io-bg-gray-s1 {
  background-color: #F3F3F3;
}

/*****************Inputs/Texts********************/
.input-tp-sub-h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  vertical-align: middle;
  color: #3E4347;
}

.input-tp-h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  vertical-align: middle;
}

.title-tp-h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  vertical-align: middle;
  color: #3E4347;
}

.title-tp-h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: #066B4B;
}

.subtitle-tp-h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
  color: #4B4B4B;
}

.text-tp-h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
}


.form-control:focus {
  border-color: #D8D8D8 !important;
  box-shadow: 0 0 0 0.1rem rgba(6, 107, 75, 0.10) !important;
}

.email-s1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 100%;
  color: #5F5F5F;
}
.profile-label {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  vertical-align: middle;
  color: #1A202C;
}

.input-s2 {
  border-radius: 5px !important;
  height: 45px !important;
  border: 1px solid #C6C6C6 !important;
}

.input-s2::placeholder {
  color: #ADADAD !important;
}

.input-s3 {
  height: 45px !important;
  border-radius: 5px 0 0 5px !important;
  border-bottom: 1px solid #C6C6C6 !important;
  border-left: 1px solid #C6C6C6 !important;
  border-top: 1px solid #C6C6C6 !important;
  border-right: none;
}

.input-s3::placeholder {
  color: #ADADAD !important;
}

.text-icon-search {
  background-color: #FCFCFC !important;
  color:  #B7BCBA !important;
  cursor: pointer;
  border-radius: 0 5px 5px 0 !important;
  border-bottom: 1px solid #C6C6C6 !important;
  border-right: 1px solid #C6C6C6 !important;
  border-top: 1px solid #C6C6C6 !important;
  border-left: none !important;
}

.input-group.ig-s1 .form-control:focus {
  box-shadow: none !important;
  border-color: #C6C6C6 !important;
}

.input-group.ig-s1:focus-within {
  box-shadow: 0 0 0 0.1rem rgba(6, 107, 75, 0.10) !important;
  border-radius: 5px;
}

.input-group.ig-s1:focus-within .text-icon-search {
  border-color: #C6C6C6 !important;
}

.input-s4 {
  border-radius: 10px !important;
  border: 1px solid #B8B8B8 !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  vertical-align: middle;
  height: 45px !important;
}

.textarea-s1 {
  border-radius: 10px !important;
  border: 1px solid #B8B8B8 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  background: #FCFCFC !important;
  vertical-align: middle;
}
.input-s4:disabled, .textarea-s1:disabled {
  background: #F6F7F9 !important;
  border: 1px solid #B8B8B8 !important;
  color: #90A3BF !important;
}
/*****************Buttons********************/
.button-tp {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  vertical-align: middle;
  color: #fff;
}

.button-tp-h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
}

.btn-s1 {
  min-height: 48px;
  border-radius: 15px;
  background-color: #066B4B;
  border-color: #066B4B;
}

.btn-s1:hover,
.btn-s1:focus,
.btn-s1:active {
  background-color: #066B4B !important;
  border-color: #066B4B !important;
  color: #F6F6F6 !important;
}

.btn-s1:disabled {
  background-color: rgba(6, 107, 75, 0.90) !important;
  border: 1px solid #D8D8D8;
  color: #D8D8D8 !important;
}

.btn-s2 {
  min-height: 48px;
  border-radius: 15px;
  background: #F9B234;
  border: none;
}

.btn-s2:hover,
.btn-s2:focus,
.btn-s2:active  {
  background-color: #F9B234 !important;
  border-color: #F9B234 !important;
  color: #F6F6F6 !important;
}

.btn-s2:disabled {
  background-color: rgba(249, 178, 52, 0.90) !important;
  border: 1px solid #D8D8D8;
  color: #D8D8D8 !important;
}

.btn-s3 {
  height: 45px;
  border-radius: 5px;
  background: #F9B234;
  border: none;
}
.btn-s3:hover,
.btn-s3:focus,
.btn-s3:active  {
  background-color: #F2C94C !important;
  border-color: #F2C94C !important;
  color: #FFF !important;
}

.btn-s3:disabled {
  background-color: rgba(249, 178, 52, 0.90) !important;
  border: 1px solid #D8D8D8;
  color: #D8D8D8 !important;
}

.btn-s4 {
  min-height: 37px;
  background-color: #066B4B;
  border-color: #066B4B;
}

.btn-s4:hover,
.btn-s4:focus,
.btn-s4:active {
  background-color: #03704D !important;
  border-color: #03704D !important;
  color: #F6F6F6 !important;
}

.btn-s4:disabled {
  background-color: rgba(3, 112, 77, 0.9) !important;
  border: 1px solid #D8D8D8;
  color: #D8D8D8 !important;
}

.btn-width300 {
  max-width: 300px;
  width: 100%;
}
/***********Dropdown************************/
.mn-btn-s1 {
  background: #FAFAFA;
  height: 45px;
  border: 1px solid #E2E2E2;
}
.mn-btn-s1:hover,
.mn-btn-s1:focus,
.mn-btn-s1:active {
  background-color: #FCFCFC;
  border: 1px solid #C6C6C6;
}

.dropdown-toggle.mn-btn-s1::after {
  display: none !important;
  border: 1px solid #E2E2E2;
}

.dropdown.mn-1 > .dropdown-menu .dropdown-item.active,
.dropdown.mn-1 > .dropdown-menu .dropdown-item:active {
  color: #066B4B !important;
  background-color: #D2F2DD !important;
}


/*****************Modals********************/
.btn-close.custom-close {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 2rem;
  height: 2rem;
}

.btn-close.custom-close img {
  display: block;
  width: 24px;
  height: 24px;
}

/*****************Tabs********************/
.tab-s1 {
  background: #D2F2DD;
}
.tab-s1 .nav-item .active {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  vertical-align: middle;
  color: #5F5F5F;
}

.tab-s1 .nav-item .nav-link:not(.active) {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  vertical-align: middle;
  color: #5F5F5F;
}

.tab-s1.disable-active-nav .nav-underline .nav-link.active {
  border-bottom: none !important;
}

.tab-s2 .nav-item .active {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  vertical-align: middle;
  color: #066B4B;
}

.tab-s2 .nav-item .nav-link:not(.active) {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  vertical-align: middle;
  color: #5F5F5F;
}

.tab-s3 {
  background: #C9E1BF;
}
.tab-s3 .nav-item .active {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  vertical-align: middle;
  color: #066B4B;
}

.tab-s3 .nav-item .nav-link:not(.active) {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  vertical-align: middle;
  color: #5F5F5F;
}

.tab-s3.disable-active-nav .nav-underline .nav-link.active {
  border-bottom: none !important;
}

/*****************Cards********************/
.card-s1 {
  width: 20rem; background-color: #EBEBEB;
  border: 1px solid #FFFFFF
}
.card-s1 .title-image {
  height: 11rem;
}
.card-s1 h5 {
  font-weight: 600;
}
.card-s1 .card-body span {
  font-weight: 600 !important; font-size: 16px;
}
.card-s1 .card-location {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  vertical-align: bottom;
  color: #696969;
}

/*****************Others********************/
.arrow-back {
  background-color: #F9B234 !important;
  color: white !important;
  font-weight: 500;
  font-size: 25px;
  cursor: pointer !important;
}

.h37 {
  height: 37px !important;
}
.br5 {
  border-radius: 5px !important;
}
.main-header {
  height: 65px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}

.main-header .btn {
  background: transparent;
  border: none;
  padding: 0.5rem;
  color: #066B4B;
  transition: color 0.3s;
}

.main-header .btn:hover,
.main-header .btn:focus {
  color: #03704D;
}


.main-header svg path {
  fill: #066B4B;
  transition: fill 0.3s;
}

.main-header .btn:hover svg path,
.main-header .btn:focus svg path {
  fill: #03704D;
}

main {
  padding-top: 0;
  min-height: 100vh;
  transition: margin-left 0.4s ease;
  margin-left: 270px;
}

main .pt65 {
  padding-top: 65px;
}

@media (max-width: 768px) {
  main {
    margin-left: 0;
  }
}

/***********************/
