<div class="d-flex justify-content-center align-items-center" style="min-height: 50vh;">
  <div class="col-12 col-lg-6">
    <form>
      <div class="mb-3">
        <label for="companyname" class="form-label profile-label">Nombre de empresa</label>
        <input type="text" class="form-control" id="companyname" placeholder="Ingrese nombre de la empresa" readonly>
      </div>
      <div class="mb-3">
        <label for="ruc" class="form-label profile-label">RUC</label>
        <input type="text" class="form-control" id="ruc" placeholder="Ingrese ruc" readonly>
      </div>
      <div class="mb-3">
        <label for="address" class="form-label profile-label">Dirección de la empresa</label>
        <input type="text" class="form-control" id="address" placeholder="Ingrese dirección de la empresa" readonly>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label profile-label">Teléfono de la oficina</label>
        <input type="text" class="form-control" id="phone" placeholder="Ingrese teléfono de la oficina" readonly>
      </div>
    </form>
  </div>
</div>

