<div class="container">
  <h1 class="title-tp-h1 mt-4 mb-3 d-flex align-items-center">
    <span class="io-green-primary">Crear Proyecto / Seccion 1</span>
  </h1>
  <div class="card p-0 border-0 rounded-0">
    <div class="card-body px-3 my-4">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10 col-md-11 col-sm-12">
          <form  [formGroup]="form" (ngSubmit)="next()" >
            <h2 class="mb-4 subtitle-tp-h2 io-green-primary">Datos Principales</h2>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-sm-12 mb-3">
                <label for="project_name" class="form-label text-tp-h3">Nombre del proyecto</label>
                <input type="text" class="form-control input-s4" id="project_name" formControlName="project_name"
                       placeholder="Ingresa nombre" [maxLength]="100"/>
                <div *ngIf="isFieldNotValid('project_name')">
                  <small *ngFor="let msg of form.get('project_name') | formErrorMessages:'Nombre del proyecto'"
                         class="text-danger font-italic">{{ msg }}</small>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-sm-12 mb-3">
                <label for="office_address" class="form-label text-tp-h3">Dirección de oficina</label>
                <input type="text"
                       class="form-control input-s4"
                       id="office_address" formControlName="office_address"
                       placeholder="Ingresa dirección oficina" [maxLength]="200"/>
                <div *ngIf="isFieldNotValid('office_address')">
                  <small *ngFor="let msg of form.get('office_address') | formErrorMessages:'Direccion de oficina'"
                         class="text-danger font-italic">{{ msg }}</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-sm-12 mb-3">
                <label for="office_number" class="form-label text-tp-h3">Número de oficina</label>
                <input type="text" class="form-control input-s4" id="office_number" formControlName="office_number"
                       placeholder="Ingresa numero de oficina" [maxLength]="6"/>
                <div *ngIf="isFieldNotValid('office_number')">
                  <small *ngFor="let msg of form.get('office_number') | formErrorMessages:'Número de oficina'"
                         class="text-danger font-italic">{{ msg }}</small>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-sm-12 mb-3">
                <label for="supervisor" class="form-label text-tp-h3">Encargado del proyecto</label>
                <input type="text"
                       class="form-control input-s4"
                       id="supervisor" formControlName="supervisor"
                       placeholder="Ingresa nombre del encargado del proyecto" [maxLength]="200"/>
                <div *ngIf="isFieldNotValid('supervisor')">
                  <small *ngFor="let msg of form.get('supervisor') | formErrorMessages:'encargado'"
                         class="text-danger font-italic">{{ msg }}</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label for="description" class="form-label text-tp-h3">Descripción</label>
                <textarea type="text" id="description" class="form-control textarea-s1" formControlName="description"
                          placeholder="Describe brevemente" [maxLength]="500" [rows]="3"></textarea>
              </div>
            </div>
            <h2 class="my-4 subtitle-tp-h2 io-green-primary">Etapas del proyecto</h2>
            <span class="fw-bolder mb-2 d-block">Importante para continuar con los siguientes pasos:</span>
            <label for="stages" class="form-label d-block">Cantidad de etapas</label>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-3 mb-1">
                <input type="number" class="form-control input-s4" id="stages" formControlName="stages"
                       placeholder="Ingresa número" [maxLength]="1" [min]="1" [max]="5"/>
              </div>
            </div>
            <div *ngIf="isFieldNotValid('stages')">
              <small *ngFor="let msg of form.get('stages') | formErrorMessages:'cantidad de etapas'"
                     class="text-danger font-italic">{{ msg }}</small>
            </div>

            <app-additional-information [form]="form"
              [financialsBonus]="financialsBonus" [banks]="banks"  />

            <h2 class="subtitle-tp-h2 io-green-primary">Datos principales del inmueble</h2>
            <div class="d-flex align-items-center justify-content-end py-3 ">
              <button class="btn btn-s3 button-tp py-2 d-flex justify-content-center align-items-center" >
                <span class="material-symbols-rounded">download</span>
                Descargar plantilla
              </button>
            </div>

            <h2 class="subtitle-tp-h2 io-green-primary">Tipo de inmueble</h2>

            <div class="d-flex align-items-center justify-content-between pt-3 pb-4">
              <span>Crea los tipos de propiedad según la combinación de características de las categorías como casa, departamento o terreno</span>
              <button class="btn btn-s1 button-tp py-2 br5 text-nowrap" >
                  Agregar tipo inmueble
              </button>
            </div>

            <table class="table table-s2 mb-5" *ngIf="!loading">
              <thead>
              <tr>
                <th class="px-3 ms-3">Tipo</th>
                <th class="">Etapa</th>
                <th class="">Plano arquitectonico</th>
                <th class="">Plantilla formato</th>
                <th class=" text-center">Acciones</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let typesProperty of stagesTypesProperty" >
                <td class="px-3 ms-3">{{typesProperty.propertyGroup?.name}}</td>
                <td>{{typesProperty.stage?.stage}}</td>
                <td>
                  @if(typesProperty.architecturalBluetprint) {
                    <button class="btn p-0 border-0 bg-transparent mx-2 io-yellow-primary" title="documento">
                      <img src="./assets/svg/document24.svg" alt="editar">
                    </button>
                    {{typesProperty.architecturalBluetprint.name}}
                  } @else {
                    <div class="custom-dropzone text-center
                   d-flex flex-column justify-content-center align-items-center py-2"
                         (dragover)="onDragOver($event)"
                         (dragleave)="onDragLeave($event)"
                         (drop)="onDropFile($event, 'architectural', typesProperty)"
                         (click)="fileInputArchitectural.click()">
                      <span class="dropzone-label">Arratra archivos PDF o imágenes (JPG, PNG)</span>
                      <span class="dropzone-action">O haz clic para cargar</span>
                    </div>
                    <input
                      #fileInputArchitectural
                      type="file" accept=".pdf,image/png,image/jpeg" hidden
                      (change)="onFileSelected($event, 'architectural', typesProperty)"/>
                  }
                </td>
                <td>
                  @if(typesProperty.formatTemplateLoaded) {
                    {{typesProperty.formatTemplateLoaded.name}}
                    <button class="btn p-0 border-0 bg-transparent mx-2 io-yellow-primary" title="documento">
                      <img src="./assets/svg/document24.svg" alt="editar">
                    </button>
                  } @else {
                    <div class="custom-dropzone text-center
                    d-flex flex-column justify-content-center align-items-center py-2"
                         (dragover)="onDragOver($event)"
                         (dragleave)="onDragLeave($event)"
                         (drop)="onDropFile($event, 'template', typesProperty)"
                         (click)="fileInputTemplate.click()">
                      <span class="dropzone-label">Arratra archivos PDF o imágenes (JPG, PNG)</span>
                      <span class="dropzone-action">O haz clic para cargar</span>
                    </div>
                    <input
                      #fileInputTemplate type="file" accept=".pdf,image/png,image/jpeg" hidden
                      (change)="onFileSelected($event, 'template', typesProperty)"/>
                  }
                </td>
                <td class="text-center">
                  <button class="btn p-0 border-0 bg-transparent mx-2 io-yellow-primary" title="duplicar">
                    <img src="./assets/svg/duplicate19.svg" alt="editar">
                  </button>
                  <button class="btn p-0 border-0 bg-transparent mx-2" title="Ver">
                    <img src="./assets/svg/view15.svg" alt="ver">
                  </button>
                  <button class="btn p-0 border-0 bg-transparent mx-2" title="Eliminar">
                    <img src="./assets/svg/delete16.svg" alt="eliminar">
                  </button>
                </td>
              </tr>
              <tr *ngIf="isShowTable">
                <td colspan="5" class="text-center">No hay registros</td>
              </tr>
              </tbody>
            </table>

            <app-button-loading
              type="submit"
              [btnClasses]="'btn d-block mx-auto mt-3 btn-width300 h37  btn-s4 button-tp br5'"
              [loading]="loading"
              msgLoading="Cargando..."
              msgButton="Siguiente"/>

          </form>
        </div>
      </div>

    </div>
  </div>

</div>

