<div class="container">

    <h1 class="title-tp-h1 mt-4 mb-3 d-flex align-items-center io-green-primary">
       <span class="rounded-circle  p-1 arrow-back material-symbols-rounded me-2" (click)="goToProjects()">arrow_back</span>
        <span class="">{{projectStore.titleBreadcrumbBase()}} / </span>
        <span class="fw-light ml-1">&nbsp;Seccion 1</span>
    </h1>
  <div class="card p-0 border-0 rounded-0">
    <div class="card-body px-3 my-4">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10 col-md-11 col-sm-12">
          <form  [formGroup]="form" (ngSubmit)="next()" >
            <h2 class="mb-4 subtitle-tp-h2 io-green-primary">Datos Principales</h2>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-sm-12 mb-3">
                <label for="project_name" class="form-label text-tp-h3">Nombre del proyecto</label>
                <input type="text" class="form-control input-s4" id="project_name" formControlName="project_name"
                       placeholder="Ingresa nombre" [maxLength]="100"/>
                <div *ngIf="form.get('project_name') | isInvalidField" class="d-flex flex-column">
                  <small *ngFor="let msg of form.get('project_name') | formErrorMessages:'Nombre del proyecto'"
                         class="text-danger font-italic">{{ msg }}</small>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-sm-12 mb-3">
                <label for="office_address" class="form-label text-tp-h3">Dirección de oficina</label>
                <input type="text"
                       class="form-control input-s4"
                       id="office_address" formControlName="office_address"
                       placeholder="Ingresa dirección oficina" [maxLength]="200"/>
                <div *ngIf="form.get('office_address') | isInvalidField" class="d-flex flex-column">
                  <small *ngFor="let msg of form.get('office_address') | formErrorMessages:'Direccion de oficina'"
                         class="text-danger font-italic">{{ msg }}</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-sm-12 mb-3">
                <label for="office_number" class="form-label text-tp-h3">Número de oficina</label>
                <input type="text" class="form-control input-s4" id="office_number" formControlName="office_number"
                       placeholder="Ingresa numero de oficina" [maxLength]="6"/>
                <div *ngIf="form.get('office_number') | isInvalidField" class="d-flex flex-column">
                  <small *ngFor="let msg of form.get('office_number') | formErrorMessages:'Número de oficina'"
                         class="text-danger font-italic">{{ msg }}</small>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-sm-12 mb-3">
                <label for="supervisor" class="form-label text-tp-h3">Encargado del proyecto</label>
                <input type="text"
                       class="form-control input-s4"
                       id="supervisor" formControlName="supervisor"
                       placeholder="Ingresa nombre del encargado del proyecto" [maxLength]="200"/>
                <div *ngIf="form.get('supervisor') | isInvalidField" class="d-flex flex-column">
                  <small *ngFor="let msg of form.get('supervisor') | formErrorMessages:'encargado'"
                         class="text-danger font-italic">{{ msg }}</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label for="description" class="form-label text-tp-h3">Descripción</label>
                <textarea type="text" id="description" class="form-control textarea-s1" formControlName="description"
                          placeholder="Describe brevemente" [maxLength]="500" [rows]="3"></textarea>
              </div>
            </div>
            <h2 class="my-4 subtitle-tp-h2 io-green-primary">Etapas del proyecto</h2>
            <span class="fw-bolder mb-2 d-block">Importante para continuar con los siguientes pasos:</span>
            <label for="stages" class="form-label d-block">Cantidad de etapas</label>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-3 mb-1">
                <input type="number" class="form-control input-s4" id="stages" formControlName="stages"
                       placeholder="Ingresa número" [maxLength]="1" [min]="1" [max]="5"/>
              </div>
            </div>
            <div *ngIf="form.get('stages') | isInvalidField" class="d-flex flex-column">
              <small *ngFor="let msg of form.get('stages') | formErrorMessages:'cantidad de etapas'"
                     class="text-danger font-italic">{{ msg }}</small>
            </div>

            <app-button-loading
              type="submit"
              [btnClasses]="'btn d-block mx-auto mt-5 btn-width300 h37  btn-s4 button-tp br5'"
              [loading]="loading"
              msgLoading="Cargando..."
              msgButton="Siguiente"/>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>
